<% content_for(:title, 'フォロー一覧') %>
<%= render 'layouts/header' %>
<%= render 'layouts/navgation' %>

<div class="container-xl">
  <div class="row">
    <div style="width: 16%; height: 700px;"></div>
    <div class="col-md-8 col-xl-9 ps-0">
      <%= flash[:notice] %>
      <%= render 'layouts/errors', obj: @post %>
      
      <ul class="nav nav-tabs mt-3">
        <li class="nav-item text-center w-50">
          <a class="nav-link active fs-6 text-secondary" aria-current="page" href="#">フォロー</a>
        </li>
        <li class="nav-item text-center w-50">
          <%= link_to "フォロワー", followers_end_user_path(@end_user), class:"nav-link" %>
        </li>
      </ul>
      <%= render 'follow_index', end_users: @end_users %>
    </div>
  </div>
</div>