<% posts.each do |post_list| %>
  <div class="container-fuild border p-3 ">
    <div class="row">
      <div class="col-1">
        <%= image_tag post_list.end_user.profile_image, size:'60x60', class:"rounded-circle shadow-sm" %>
      </div>
      <div class="col-10 pl-3">
        <div class="post-user">
          <%= link_to post_list.end_user.name, end_user_path(post_list.end_user_id), class:'link-dark' %>
          <p class="fs-6 text-secondary d-inline">
            <%= post_list.end_user.unique_id %>
          </p>
        </div>

        <div class="post-body">
          <p><%= post_list.body.truncate(255) %></p>
          <div class="d-flex flex-wrap">
            <% if post_list.post_images.attached? %>
              <% post_list.post_images.each do |image| %>
                <!--画像をクリックすると画像のリンクに遷移する-->
                <div class="w-50 mb-1">
                  <%= link_to image_tag(image, size:'380x200'), url_for(image) %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="post-actions d-flex mt-3">
          <div class="comment-btn d-inline-block w-33">
            <%= link_to post_path(post_list.id), class:"text-primary fs-5 text-decoration-none" do %>
              <i class="bi bi-chat-left-dots"></i> <span class="fs-6"><%= post_list.post_comments.count %></span>
            <% end %>
          </div>
          <div class="like d-inline-block w-34 text-center" id="like-btn-<%= post_list.id %>">
            <%= render 'public/likes/btn', post: post_list %>
          </div>
          <div class="bookmark d-inline-block w-33 text-right" id="bookmark-btn-<%= post_list.id %>">
            <%= render 'public/bookmarks/btn', post: post_list %>
          </div>
        </div>
      </div>
      <div class="col-1">
        <% if post_list.end_user.id == current_end_user.id %>
        <div class="dropdown">
          <a class="text-dark fs-4" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots fs-4 text-dark"></i>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><%= link_to "投稿を編集する", edit_post_path(post_list), class:"text-dark dropdown-item fs-6" %></li>
            <li><%= link_to "投稿を削除する", post_path(post_list), method: :delete, "data-confirm" => "本当に削除しますか？", class:"text-dark dropdown-item fs-6" %></li>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
 