<% content_for(:title, 'ブックマーク一覧') %>
<%= render 'layouts/header' %>
<%= render 'layouts/navgation' %>
<%= render 'layouts/back' %>

<div class="container-xl">
  <div class="row">
    <div class="" style="width: 16%; height: 700px;"></div>
    <div class="col-md-8 col-xl-9 ps-0">
      <%= render 'layouts/flash' %>
      <%= render 'layouts/errors', obj: @post %>
      <% if current_end_user.bookmarks.empty? %>
        <p class="fs-4 text-center mt-5">ブックマークしている投稿はありません。</p>
      <% else %>
        <div class="scroll-list jscroll">
          <% @posts.each do |post_list| %>
            <%= render 'index', post_list: post_list %>
          <% end %>
          <%= paginate @posts %>
        </div>
      <% end %>
    </div>
  </div>
</div>