<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 bg-primary rounded mt-5">
      <div class="mx-auto m-5" style="width: 80%;">
        <h2 class="text-center text-light mt-3 mb-5">パスワードを再設定します</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

          <div class="mb-3">
            <%= f.label :アカウントに登録したメールアドレスを入力してください。, class: 'form-label text-light' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"name@example.com", class: 'form-control' %>
          </div>

          <div class="actions mx-auto w-50 mt-5" style="height: 65px;">
            <%= f.submit "送信する", class: 'btn btn-info btn-lg w-100 h-100 fs-5 text-dark fw-bold' %>
          </div>
        <% end %>
        <div class="mx-auto mt-5 text-end">
          <p class="text-light">
            <%= link_to "新規登録", new_registration_path(resource_name), class: "text-light" %>
            ｜
            <%= link_to "ログイン", new_session_path(resource_name), class: "text-light" %>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>