<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 bg-primary rounded mt-5">
      <div class="mx-auto m-5" style="width: 80%;">
        <h2 class="text-center text-light mt-3 mb-5">CodeConnect</h2>
        <%= form_with model: @end_user, url: end_user_session_path do |f| %>

          <div class="mb-3">
            <%= f.label :ユーザー名またはメールアドレス, class: 'form-label text-light' %>
            <%= f.text_field :login, autofocus: true, class: 'form-control' %>
          </div>

          <div class="mb-3">
            <%= f.label :パスワード, class: 'form-label text-light' %>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder:"6文字以上、半角英数を両方含む" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, class: 'form-label text-light' %>
            </div>
          <% end %>

          <div class="actions mx-auto w-50 mt-5" style="height: 65px;">
            <%= f.submit "ログイン", class: 'btn btn-info btn-lg w-100 h-100 fs-5 text-dark fw-bold' %>
          </div>
        <% end %>
        <div class="mx-auto mt-5 text-center" style="width: 250px;">
          <p class="d-inline text-light">
            登録がまだの方は　<%= link_to "こちら", new_registration_path(resource_name), class: "text-light fw-bold" %>
          </p>
          <p class="text-light mt-3">
            <%= link_to "パスワードが分からない", new_password_path(resource_name), class: "text-secondary" %>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
