<% end_users.each do |end_user| %>
  <div class="container-fuild border p-3 ">
    <div class="row">
      <div class="col-1">
        <%= link_to end_user_path(end_user) do %>
          <%= image_tag end_user.profile_image, size:'60x60', class:"rounded-circle shadow-sm" %>
        <% end %>
      </div>
      <div class="col-8">
        <div class="post-user">
          <%= link_to end_user.name, end_user_path(end_user), class:'link-primary' %>
          <p class="fs-6 text-secondary d-inline">
            <%= end_user.unique_id %>
          </p>
        </div>

        <div class="user-body">
          <p><%= end_user.introduction.truncate(30) %></p>
        </div>
      </div>
      <div class="col-3">
        <% if end_user.id != current_end_user.id %>
          <div class="ml-5" id="follow-<%= @end_user.id %>">
            <%= render 'relationships/btn', end_user: @end_user %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= paginate end_users %>