<!-- コメント用モーダル -->
<div class="modal fade" id="modalPostComment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">投稿にコメントする</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with model: @post_comment, url: post_post_comments_path(post) do |f| %>
      <div class="modal-body">
        <h4>本文</h4>
        <%= f.text_area :body, class:"form-control" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary fs-6" data-bs-dismiss="modal">閉じる</button>
        <%= f.submit 'コメントをする', class:"btn btn-primary fs-6" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fuild border p-3 ">
  <div class="row">
    <div class="col-1">
      <%= image_tag post.end_user.profile_image, size:'60x60', class:"rounded-circle shadow-sm" %>
    </div>
    <div class="col-10 pl-3">
      <div class="post-user">
        <%= link_to post.end_user.name, end_user_path(post.end_user_id), class:'link-dark' %>
        <p class="fs-6 text-secondary d-inline">
          <%= post.end_user.unique_id %>
        </p>
      </div>

      <div class="post-body">
        <p><%= post.body %></p>
        <div class="d-flex flex-wrap mt-3">
          <% if post.post_images.attached? %>
            <% post.post_images.each do |image| %>
              <!--画像をクリックすると画像のリンクに遷移する-->
              <div class="w-50">
                <%= link_to image_tag(image, size:'320x250'), url_for(image) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="post-actions">
        <div class="like" id="like-btn-<%= post.id %>">
          <%= render 'likes/btn', post: @post_id %>
        </div>
      </div>
    </div>
    <div class="col-1">
      <% if post.end_user.id == current_end_user.id %>
      <div class="dropdown">
        <a class="text-dark fs-4" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-three-dots fs-4 text-dark"></i>
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><%= link_to "投稿を編集する", edit_post_path(post), class:"text-dark dropdown-item fs-6" %></li>
          <li><%= link_to "投稿を削除する", post_path(post), method: :delete, "data-confirm" => "本当に削除しますか？", class:"text-dark dropdown-item fs-6" %></li>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="btn btn-lg btn-primary w-25 mx-auto" data-bs-toggle="modal" data-bs-target="#modalPostComment">
  <i class="bi bi-chat-left-dots-fill fs-5">   コメントする</i>
</div>
  </div>
</div>