<%= render 'layouts/header' %>
<%= render 'layouts/navgation' %>

<div class="container-xl">
  <div class="row">
    <div class="" style="width: 16%; height: 700px;"></div>
    <div class="col-md-8 col-xl-9 ps-0">
      <%= flash[:notice] %>
      <% if @post.errors.any? %>
        <div class="error">
          <% @post.errors.full_messages.each do |message| %>
            <p><%= message %></p>
          <% end %>
        </div>
      <% end %>
      <ul class="nav nav-tabs">
        <li class="nav-item text-center" style="width: 34%;">
          <a class="nav-link active bg-light fs-6" aria-current="page" href="#">新着</a>
        </li>
        <li class="nav-item text-center" style="width: 33%;">
          <a class="nav-link" href="#">フォロー中</a>
        </li>
        <li class="nav-item text-center" style="width: 33%;">
          <a class="nav-link" href="#">注目</a>
        </li>
      </ul>
      <%= render 'index', posts: @posts %> 
    </div>
  </div>
</div>