<%= render 'layouts/header' %>
<%= render 'layouts/navgation' %>

<div class="container-xl">
  <div class="row">
    <div class="col-md-1 col-xl-2"></div>
    <div class="col-md-8 col-xl-9 ps-0">
      <%= flash[:notice] %>
      <% if @post.errors.any? %>
        <div class="error">
          <% @post.errors.full_messages.each do |message| %>
            <p><%= message %></p>
          <% end %>
        </div>
      <% end %>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>

      <% @posts.each do |post_list| %>
        <div class="container-fuild border bg-light p-3 ">
          <div class="row">
            <div class="col-1">
              <%= image_tag post_list.end_user.profile_image, size:'60x60', class:"rounded-circle" %>
            </div>
            <div class="col-10">
              <div class="post-user">
                <%= link_to post_list.end_user.name, end_user_path(post_list.end_user.id), class:'link-dark' %>
                <p class="fs-6 text-secondary d-inline">
                  <%= post_list.end_user.unique_id %>
                </p>
              </div>
              
              <div class="post-body">
                <p><%= post_list.body %></p>
                <% if post_list.post_image.attached? %>
                  <%= image_tag post_list.post_image, size:'300x300' %>
                <% end %>
              </div>
              
              <div class="post-actions">
                
              </div>
            </div>
            <div class="col-1">
              <div class="dropdown">
                <a class="text-dark fs-4" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots fs-4 text-dark"></i>
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><%= link_to "投稿を編集する", edit_post_path(post_list), class:"text-dark dropdown-item fs-6" %></li>
                  <li><%= link_to "投稿を編集する", edit_post_path(post_list), class:"text-dark dropdown-item fs-6" %></li>
                  <li><%= link_to "投稿を編集する", edit_post_path(post_list), class:"text-dark dropdown-item fs-6" %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>