<% content_for(:title, '通知') %>
<%= render 'layouts/header' %>
<%= render 'layouts/navgation' %>

<div class="container-xl">
  <div class="row">
    <div style="width: 16%; height: 700px;"></div>
    <div class="col-md-7 col-xl-8 ps-0">
      <%= flash[:notice] %>
      <%= render 'layouts/errors', obj: @post %>
      <% if @notifications.present? %>
      <div class="w-100 text-right m-2 pr-2">
        <%= link_to "全削除", notifications_path(@notifications), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-outline-primary fs-6" %>
      </div>
      <ul class="nav nav-tabs">
        <li class="nav-item text-center w-100">
          <p class="nav-link active fs-6 bg-light text-secondary" aria-current="page" href="#">通知一覧</p>
        </li>
      </ul>
        <% @notifications.each do |notification| %>
          <div class="scroll-list jscroll">
            <%= render "#{notification.action_type}", notification: notification %>
            <%= paginate @notifications %>
          </div>
        <% end %>
      <% else %>
        <p class="text-center fs-5 mt-3">通知はありません</p>
      <% end %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>