<% content_for(:title, 'ログイン') %>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 bg-dark rounded mt-5">
      <div class="mx-auto m-5" style="width: 80%;">
        <div class="mx-auto m-5 text-center" style="width: 80%;">
          <%= link_to root_path do %>
            <%= image_tag asset_path'CodeConnect_top.png',size:"100%x100%" %>
          <% end %>
        </div>
        <%= render 'layouts/flash' %>
        <%= form_with model: @end_user, url: end_user_session_path do |f| %>
          <div class="mb-3">
            <%= f.label "ユーザーIDまたはメールアドレス", class: 'form-label text-light' %>
            <%= f.text_field :login, autofocus: true, class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= f.label :パスワード, class: 'form-label text-light' %>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder:"6文字以上、半角英数を両方含む" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, class: 'form-label text-light' %>
            </div>
          <% end %>
          <div class="actions mx-auto w-50 mt-5" style="height: 65px;">
            <%= f.submit "ログイン", class: 'btn btn-primary btn-lg w-100 h-100 fs-5 text-light' %>
          </div>
        <% end %>
        <div class="mx-auto mt-5 text-center" style="width: 250px;">
          <p class="d-inline text-light">
            登録がまだの方は　<%= link_to "こちら", new_registration_path(resource_name), class: "text-light" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>