<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @post, url: posts_path do |f| %>
        <h4>本文</h4>
        <%= f.text_area :body, class:"form-control" %>
        <h4>画像</h4>
        <%= f.file_field :post_image, accept: "image/*", class:"form-control" %>
        <%= f.submit '投稿する' %>
      <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark fixed-top col-md-1 col-lg-2" style="height: 700px;">
  <%= link_to end_user_path(current_end_user.id), class: 'd-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none' do %>
        <%= image_tag.profile_image %>プロフィール</i>
      <% end %>class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    
    <span class="fs-4">サイドバー</span>
  </a>
  <hr>
  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <%= link_to posts_path, class: 'nav-link' do %>
        <i class="bi bi-house">ホーム</i>
      <% end %>
    </li>
    <li>
      <%= link_to end_user_path(current_end_user.id), class: 'nav-link' do %>
        <i class="bi bi-person-fill">プロフィール</i>
      <% end %>
    </li>
    <li>
      <%= link_to end_user_bookmarks_path(current_end_user.id) ,class: 'nav-link' do %>
        <i class="bi bi-bookmarks">ブックマーク</i>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_end_user_session_path, method: :delete, class: 'nav-link' do %>
        <i class="bi bi-box-arrow-right">ログアウト</i>
      <% end %>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
     <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      新規投稿
    </button>
  </div>
</div>
